body {
    margin: 0;
    height: '100%'
}

.SlideIn-appear {
    transform: translateX(100%);
}
.SlideIn-appear.SlideIn-appear-active {
    transform: translateX(0);
    transition: all 0.3s linear;
}
.SlideIn-enter {
    transform: translateX(100%);
}
.SlideIn-enter.SlideIn-enter-active {
    transform: translateX(0);
    transition: all 0.1s linear 0.2s;
}
.SlideIn-leave {
    transform: translateX(0);
}
.SlideIn-leave.SlideIn-leave-active {
    position: absolute;
    width: 100%;
    transform: translateX(-100%);
    transition: all 0.1s linear;
}
